# Image Processing
opencv-python>=4.9.0
albumentations>=1.4.0

# OpenMMLab (Loosened for compatibility)
mmengine>=0.10.3
mmdet>=3.0.0
mmyolo>=0.6.0

# Deep Learning Backends
timm>=0.6.13
transformers>=4.36.2

# Utilities
tqdm
matplotlib
pycocotools
